// body > div {
//   display: flex;
//   justify-content: center;
// }

div#title {
  padding-top: 20px;
  font-size: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
}

div#title h1 {
  background-color: red;
}

div#nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div#nav-links ul li:first-child {
  background-color: cyan;
}

div#canvas-container {
  display: flex;
  justify-content: center;
}


canvas {
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

